notebooks/
.ipynb_checkpoints/
data/
src/__pycache__/
.vscode/
logs/
models/
.idea/
venv/
venv2/
__pycache__/
src/archimob_balanced_embeddings/tensors.full.pt
src/archimob_embeddings/tensors.full.pt
src/embeddings/tensors.full.pt
src/swissdial_balanced_embeddings/tensors.full.pt
src/swissdial_embeddings/tensors.full.pt
dialect_classified_data/
different_sentence_split/
*.out
*.csv.gz
predict_sentencess3.py